<div id="<%= dom_id task %>">
  <table>
    <tbody>
      <tr>
        <th>Name:</th>
        <td><%= task.name %></td>
      </tr>
      <tr>
        <th>Category:</th>
        <td><%= task.category %></td>
      </tr>
      <tr>
        <th>Priority:</th>
        <td><%= task.priority %></td>
      </tr>
      <tr>
        <th>Status:</th>
        <td><%= task.status %></td>
      </tr>
    </tbody>
  </table>
</div>